* {
	font-family: sans-serif;
}

body {
	background: #eee;
	max-width: 40rem;
	padding: 0.5rem;
	margin: 0 auto;
}

.post {
	margin: 0.5rem;
	padding: 0.5rem;
	background: white;
	border-radius: 0.8rem;
	max-width: 40rem;
}

button {
	background: #ccc;
	border: none;
	padding: 0.3rem 0.6rem;
	border-radius: 0.5rem;
}

textarea, input {
	background: #ccc;
	font-size: large;
	max-width: 40ch;
	border-radius: 0.5rem;
	padding: 0.2rem 0.4rem;
	border: none;
}

textarea {
	max-width: 40ch;
}

fieldset {
	background: white;
	border: none;
	border-radius: 0.75rem;
	padding: 1rem;
}

legend {
	background: #ccc;
	border-radius: 0.4rem;
	padding: 0.2rem 0.5rem;
}
